# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/voyccom/webprod/sandbox/sandbox/html/pvc"
PassengerBaseURI "/pvc"
PassengerPython "/home/voyccom/virtualenv/webprod/sandbox/sandbox/html/pvc/3.7/bin/python"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END